<div class="col-xs-12 borderClass" id="empEducation">
     <div class="policy_msg" align="center">Note : <a ng-click="openPolicyBoxHandler()">Click here</a> to read password policy</div>
    <div class="col-xs-6">
       
    <form class="form-horizontal" role="form">
        <fieldset class="info_container_left ">
            <legend class="info_container_left">ChangePassword</legend>
            <div class="form-group">
                <div class="col-xs-6">
                <span class="control-label" style="font-weight:bold;">Graduation
                </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <span class=" control-label">Old Password:</b>
                    </span>
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <span class=" control-label">New Password:
                    </span>
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <span class=" control-label">Repeat New Password:
                    </span>
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control">
                </div>
            </div>
                    </fieldset>
        </from>
        <div align="center">
            <button  class="btn btn-danger">Submit</button>
        </div>
        </div>
       
</div>
